<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ .title }}</title>
</head>
<body class="bg-gray-100 font-sans">
    <div class="container mx-auto max-w-xl px-4 py-8">
        <header class="mb-6">
            <h1 class="text-3xl font-bold text-center text-gray-800">Login</h1>
            
            <p class="text-sm font-bold text-center text-red-800" id="error"></p>
        </header>

        <div class="bg-white shadow-md rounded-lg">
            <form action="/login" method="POST" id="loginForm" class="p-6">
                <div class="mb-4">
                    <label for="Username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                    <input 
                        type="text" 
                        name="Username" 
                        id="username" 
                        placeholder="Noteman"
                        class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                    >
                </div>

                <div class="mb-6">
                    <label for="Password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                    <input 
                        type="password" 
                        name="Password" 
                        id="password" 
                        placeholder="********"
                        class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                    >
                </div>

                <div class="flex items-center justify-center">
                    <button 
                        type="submit" 
                        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition"
                    >
                        Login
                    </button>
                </div>
            </form>
            <p class="text-center text-gray-600 mt-4">
                New to Notitas? 
                <a href="/register" class="text-blue-500 hover:text-blue-600 font-semibold transition-colors">
                    Create an account
                </a>
            </p>
        </div>
    </div>

    <script>
        document.querySelector('#loginForm').addEventListener('submit', function(event) {
            const email = document.querySelector('#username').value;
            const password = document.querySelector('#password').value;
            const errorEl = document.querySelector('#error');

            if (!email || !password) {
                event.preventDefault();
                errorEl.textContent = "Username and password are required!";
            } else {
                errorEl.textContent = "";
            }
        });
    </script>
</body>
</html>